/* Custom Prop */
:root{
  --text-color: #222;
  --bg-color: #fff;
  --title-color: #d23669;
}


/* GLOBAL STYLES */

html{
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after{
  box-sizing: inherit;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Roboto", "Arial", sans-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.dark-mode{
  --text-color: #fff;
  --bg-color: #222;
}

img{
  max-width: 100%;
  height: auto;
}

a{
  color: var(--title-color);
}


/* CONTAINER*/
.container{
  width: 100%;
  max-width: 700px;
  padding-left: 50px;
  padding-right: 50px;
  margin-left: auto;
  margin-right: auto;
}


/* SITE HEADER */
.site-header {
  display: flex;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 30px;
}

.site-logo {
  font-size: 43px;
  line-height: 16px;
  letter-spacing: normal;
  font-weight: bold;
  color: var(--text-color);
}
.site-logo-link {
  font-size: 36px;
  color: var(--text-color);
  margin-right: auto;
  text-decoration: none;
  text-transform: uppercase;
}
.light-mode {
  margin-right: 5px;
}
.dark-mode {
}


.author {
  display: flex;
  align-items: center;
}
.author-img {
  margin-right: 16px;
  width: 56px;
  height: 56px;
  display: block;
  border-radius: 50%;
  object-fit: cover;
}
.author-info {
}
.author-info-top {
}
.author-info-bottom {
}


.blog-list {
  list-style: none;
  text-decoration: none;

}
.blog-item:not(:last-child) {
  margin-bottom: 30px;

}
.vlog-paper-title {
  margin: 0;
  font-size: 24px;

}
.vlog-paper-title-link {
  text-decoration: none;
}
.vlog-paper-text {
  margin: 0;
}